<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>UAS后台管理系统</title>
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<link rel="stylesheet" href="../../css/account.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" href="../../js/jedate/skin/jedate.css" >

	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			
			<!--页头-->			
			<div id="header"></div>
			<!--导航-->
			<div id="nav"></div>
			
			<div class="layui-body bill-body-location" id="pie">
				<form class="layui-form">
					<div class="layui-inline">
					    <label class="layui-form-label">帐号</label>
					    <div class="layui-input-block">
					      <input type="text" name="" placeholder="请输入帐号" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">产品Code</label>
						<div class="layui-input-block">
							<select id="productCodeId" name="productCode" lay-verify="required">
								<option value="">请选择</option>
								<option value="vip">vip</option>
								<option value="cpd">cpd</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">AppId</label>
						<div class="layui-input-block">
							<select id="appId" name="AppId" lay-verify="required">
								<option value="">请选择</option>
								<option value="100001">100001</option>
								<option value="100002">100002</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
					    <label class="layui-form-label">状态</label>
					    <div class="layui-input-block">
					      <input type="checkbox" lay-skin="switch">
					    </div>
					</div>
					
					<!--<div class="layui-inline">
						<div class="layui-input-block">
						<button class="layui-btn" onclick="searchBillData()">查询</button>
						</div>
					</div>-->
					<div class="layui-inline">
						<div class="tabPanel">
							<div class="function clearfix">
								<div class="calendar">
									<input class="datainp wicon date01 date-location" type="text" placeholder="YYYY.MM.DD"  readonly>
								</div>
							</div>
						</div>
					</div>
			
					<div class="cardBox">
						<div class="bgBox">
							<ul class="detailList clearfix">
								<li>
									<dl>
										<dt class="" id="billCountId"></dt>
										<dd>订单数<img src="../../img/icon02.png" alt="" /></dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
				</form>
				<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
				
    			<div id="main" style="width: 1000px;height:600px; margin-left: 100px;"></div>
			</div>
			
			

			<!--页脚-->
			<div id="footer"></div>
		</div>
		<script src="../../layui/layui.js"></script>
		<script src="../../js/jquery-1.11.3.min.js"></script>
		<script src="../../js/jedate/jquery.jedate.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/echarts-all.js"></script>
		<script src="../../js/nav.js"></script>
		<script src="../../js/mock.js"></script>
		<script src="../../js/data/billData.js"></script>
		<script src="../../js/state/billState.js"></script>
	</body>

</html>