<div class="boxxx_footer">
    <div class="lian_box">
        <div class="zi_lian">
            <h3>联系我们：</h3>
            <ul class="con_lian">
                <li class="qq_li clear">
                    <img src="img/qq.png" width="27" height="28" title="QQ">
                    <div>
                        <p>360245339</p>
                        <p>275138984</p>
                    </div>
                </li>
                <li class="e_li clear">
                    <img src="img/mail.png" width="27" height="28" title="e-mail">
                    <div>
                        <p>manwang@feelwx.com</p>
                        <p>gary@feelwx.com</p>
                    </div>
                </li>
                <li class="te_li">
                    <img src="img/tel.png" width="27" height="28" title="Tel">
                    0755-82551118
                </li>
                <li class="te_add">
                    <img src="img/pos.png" width="27" height="28" title="地址">
                    深圳市南山区前海路鸿海大厦G单元
                </li>
            </ul>
            <p class="right_lian">Copyright © 2014-2017 Feeling Infinity. All Rights Reserved. <br />
                <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="color: #fff;">粤ICP备15012645号</a> 深圳市非零无限科技有限公司 版权所有
            </p>
        </div>
    </div>
</div>