<div class="left_list">
    <div class="l_list">
        <ul>
            <li class="logo">
                <a><img src="img/logo.jpg" width="160" height="48"></a>
            </li>
            <li class="l_navtit">数据报表</li>
            <li>
                <a href="actUser.html" class="l_navli" id="nav_index_1">
                		<img src="img/kfzlb02.png">活动用户
                </a>
            </li>
            <li>
                <a href="actTurnover.html" class="l_navli" id="nav_index_2">
                		<img src="img/hlcp02.png">活动流水
                </a>
            </li>
            
            <li class="l_navtit">配置管理</li>
            <li>
                <a href="actConfig.html" class="l_navli" id="nav_index_3">
                <img src="img/cspz_0.png">活动配置</a>
            </li>
            
        </ul>
    </div>
</div>
