<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>客户跟进详情</title>
    <!-- Bootstrap css -->
    	<link rel="stylesheet" type="text/css" href="../../../../static/plugins/magicbox/css/bootstrap.min.css"/>
    <!-- kendo ui css -->
    <link rel="stylesheet" type="text/css" href="../../../../static/plugins/kendo/kendo.common.core.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../static/plugins/kendo/kendo.default.min.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../static/plugins/magicbox/css/font-awesome.css"/>
    <!--蓝鲸提供的公用样式库 -->
    	<link rel="stylesheet" type="text/css" href="../../../../static/plugins/magicbox/css/bk.css"/>
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="../../../../static/plugins/magicbox/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../../../../static/plugins/magicbox/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../../../../static/plugins/magicbox/js/kendo.all.min.js" type="text/javascript" charset="utf-8"></script>
    <!--table-->
    <link rel="stylesheet" type="text/css" href="../../../../static/plugins/DataTables-1.10.15/css/dataTables.bootstrap.css"/>
    <script src="../../../../static/plugins/DataTables-1.10.15/js/jquery.dataTables.min.js" ></script>
    <script src="../../../../static/plugins/DataTables-1.10.15/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<!--artDialog弹框-->
	<link rel="stylesheet" type="text/css" href="../../../../static/plugins/artDialog-6.0.4/css/ui-dialog.css"/>
	<script src="../../../../static/plugins/artDialog-6.0.4/dist/dialog-min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../static/css/customer.css"/>
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box king-layout1-main">
        <!-- 左边 start -->
        <div class="king-layout1-sidebar column">
            <nav style="min-width: auto; z-index: 0;" class="king-vertical-nav5   ">
                <ul class="sidebar" style="">
                    <li class="sidebar-main" >
	                    	<div class="navbar-header" style="width: 100%;">
                            	<a class="navbar-brand" href="javascript:;" title="CPD管理后台" style="height: 65px !important;background-color: #147bd0;">UBK管理后台</a>
                        	</div>
                    </li>
                    <li class="sidebar-title">
                        <a style="color: #333">
                            <span>客户管理</span>
                        </a>
                        <ul class="sidebar">
                            <li class="sidebar-item active"> <a href="distribute.html">客户分配<span class="menu-icon fa fa-gear"></span></a> </li>
                            <li class="sidebar-item"> <a href="customerList.html">客户列表<span class="menu-icon fa fa-wrench"></span></a> </li>
                        </ul>
                    </li>
                    <li class="sidebar-title">
                        <a style="color: #333">
                            <span>投放管理</span>
                        </a>
                        <ul class="sidebar">
                        		<li class="sidebar-item"> <a href="javascript:;">审核列表 <span class="menu-icon fa fa-gavel"></span></a> </li>
                            <li class="sidebar-item"> <a href="javascript:;">投放列表 <span class="menu-icon fa fa-flash"></span></a> </li>
                        </ul>
                    </li>
                    <li class="sidebar-title">
                        <a style="color: #333">
                            <span>数据管理</span>
                        </a>
                        <ul class="sidebar">
                            <li class="sidebar-item"> <a href="javascript:;">数据总况 <span class="menu-icon fa fa-coffee"></span></a> </li>
                            <li class="sidebar-item"> <a href="javascript:;">数据详情 <span class="menu-icon fa fa-building-o"></span></a> </li>
                            <li class="sidebar-item"> <a href="javascript:;">导入数据 <span class="menu-icon fa fa-level-up"></span></a> </li>
                        </ul>
                    </li>
                    <li class="sidebar-title">
                        <a style="color: #333">
                            <span>财务管理</span>
                        </a>
                        <ul class="sidebar">
                            <li class="sidebar-item"> <a href="javascript:;">资金流水 <span class="menu-icon fa fa-money"></span></a> </li>
                            <li class="sidebar-item"> <a href="javascript:;">线下充值核验 <span class="menu-icon fa fa-subscript"></span></a> </li>
                            <li class="sidebar-item"> <a href="javascript:;">修改账户余额 <span class="menu-icon fa fa-subscript"></span></a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 左边 end -->
        
        <!-- content start -->
        <div class="king-content-wrap" >
            <div class="king-layout1-content" style="margin-left: 0;">
                <nav>
                    <div class="king-header2 navbar navbar-blue  f14">
                        <div class="nav-container" style="height: 65px !important;">
                            
                            <div class="navbar-collapse collapse" id="king-header2-navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li >
                                        <a href="javascript:;"><span>宋一帆</span></a>
                                    </li>
                                    <li >
                                        <a href="javascript:void(0)">
                                            	<span class="avatar"><!--图片切成圆形的-->
                                                <img src="../../../../static/img/index/email.png">
                                            	</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="javascript:void(0)"><img src="../../../../static/img/index/logout.png" style="width: 21px;" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--content-->
                <div class="king-page-box">
			        <div class="king-container clearfix" style="margin: 20px;">
			            <div class="king-tab tab-box ">
			                <ul id="myTab2" class="nav nav-tabs king-nav-tabs1 king-tab-info">
			                    <li class="active"> <a data-toggle="tab" href="#demo1">客户跟进详情</a> </li>
			                    <li> <a data-toggle="tab" href="#demo2">客户轨迹</a> </li>
			                </ul>
			                <div class="tab-content ">
							    <!--未合作表格-->
							    <div class="tab-pane fade in active" id="demo1">
								    	<table id="table_custom_genjin" class="table table-bordered table-hover">
								    		<div class="select">
								    			<input type="text" name="searchContent" class="searchInput" placeholder="搜索公司名称、产品名称、联系人"/>
								    			<button class="search_btn_on_table">搜索</button>
								    		</div>
								    			
									    <thead>
									        <tr>
									            <th>公司</th>
									            <th>产品</th>
									            <th>联系人</th>
									            <th>跟进时间</th>
									            <th>跟进人</th>
									            <th>跟进详情</th>
									        </tr>
									    </thead>
									    <tbody>
									    		<tr>
									    			<td>深圳市单身村科技有限公司</td>
									    			<td>单身村</td>
									    			<td>杨村长</td>
									    			<td>2017-05-13 21:25:36</td>
									    			<td>程少环</td>
									    			<td>对方这两天出差，下周再联系跟进</td>
									    		</tr>
									    		
									    </tbody>
									</table>
						    		</div>
							    <!--已合作-->
							    <div class="tab-pane fade in" id="demo2">
								    	<ul class="king-timeline-simple  " style="padding: 50px;">
						                <li class="success">
						                    	<span class="timeline-simple-date">2016-08-11 08:00</span>&nbsp;&nbsp;上传OPPO资料
						                </li>
						                <li class="success">
						                		<span class="timeline-simple-date">2016-05-11 10:00</span>&nbsp;&nbsp;上传应用宝资料
						                </li>
						                <li class="success">
						                    	<span class="timeline-simple-date">2016-08-12 18:00</span>&nbsp;&nbsp;基础资料审核通过
						                </li>
						                <li class="success">
						                		<span class="timeline-simple-date">2016-08-11 20:00</span>&nbsp;&nbsp;添加基础资料
						                </li>
						                <li class="success">
						                		<span class="timeline-simple-date">2016-08-11 20:00</span>&nbsp;&nbsp;完成注册
						                </li>
						            </ul>
							    </div>
							</div>
			            </div>
			        </div>
			    </div>
			    <a class="king-btn-demo king-btn king-default" title="返回" href="customerList.html" style="margin-left: 20px;">返回</a>
                <!-- content end -->
            </div>
        </div>
        
    </div>
</body>

<script src="../js/customer.js"></script>

</html>