<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		h2{color: red;}
		
		/* Class */
		.active{color: blue;}
		.static{background-color: gainsboro;}
	</style>
	<body>
		
		<h2>v-if</h2>
		<p v-if="ok" id="class1">YES</p>
		<p v-else>NO</p>
		
		<!-- v-if 可以控制多个元素，需要使用<template>元素将其包裹起来 -->
		<template v-if="ok">
			<p>p1</p>
			<p>p2</p>
		</template>
		
		<h2>v-if-else-if</h2>
		<p v-if=" type === 'A' ">A</p>
		<p v-else-if=" type === 'B' ">B</p>
		<p v-else>C</p>
		
		<!-- 用 key 管理ke复用的元素 -->
		<template v-if="loginType === 'username'">
		  	<label>Username</label>
		  	<input placeholder="Enter your username">
		</template>
		<template v-else>
		  	<label>Email</label>
		  	<input placeholder="Enter your email address">
		</template>
		
		<!--多个复选框，绑定到同一个数组-->
		<div id='example-3'>
		  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		  <label for="jack">Jack</label>
		  <input type="checkbox" id="john" value="John" v-model="checkedNames">
		  <label for="john">John</label>
		  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		  <label for="mike">Mike</label>
		  <br>
		  <span>Checked names: {{ checkedNames }}</span>
		</div>
		<button onclick="changeCheckedNames()">点我清空上面选择</button>
		
	</body>
	<!-- 开发环境版本，包含了用帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../js/vue4-条件渲染.js" type="text/javascript" charset="utf-8"></script>
</html>
